body {
  /* padding: 10px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background: black; */
  color: white;
  margin: 0px;
}

a {
  color: #00B7FF;
  display: block;
  text-decoration: none;
  width: 100%;
}


ol.product-list {
    list-style: none;
}

li.product-container {
    /* flex: 1 0 0; */
    /* padding: 16px; */
    /* border-radius: 3px; */
    /* box-shadow: 0px 0px 17px 3px #f50101; */
    /* width: 300px; */
    border-bottom: solid 1px rgba(128, 128, 128, 0.4);
    margin: 10px;
}

.project-name {
    background-color: #00c3b1;
    color: white;
    font-size: 16px;
    margin: 10px;
    padding: 5px;
}

ol.product-list {
    list-style: none;
    padding: 0;
    /* display: flex; */
    /* flex-wrap: wrap; */
    background-color: rgb(255, 255, 255);
    /* justify-content: space-around; */
    margin: 0px 18px;
    margin: 0;
}

img.product-logo {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 25px;
    /* max-width: 50%; */
    /* max-height: 150px; */
    display: inline-block;
}

span.product-name {
    display: block;
}

.product-name {
    color: black;
    font-size: 18px;
    margin-top: 8px;
    word-break: break-word;
}

.product-spn {
    color: gray;
    font-size: 12px;
    word-break: break-word;
    overflow: hidden;
    margin-top: 2px;
}

.product-info-container {
    margin-left: 15px;
    width: 145px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 12px;
}

.product-start-button {
    background-color: #19ac9e;
    color: white;
    padding: 8px;
    margin-top: 20px;
    /* flex: 0; */
    width: 68px;
    text-align: center;
    box-shadow: 0px 0px 14px 1px rgba(115, 160, 156, 0.77);
}

.start-tip {
    color: rgb(187, 187, 187);
    font-size: 20px;
    text-align: center;
    margin: 27px;
}

img.growing-logo {
    max-height: 66px;
    border-bottom: solid 1px #eaeaea;
    width: 100%;
}