body {
    /* padding: 10px; */
    font: 14px PingFangSC, "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #fafafa;
    /* color: white; */
    margin: 0px;
    -webkit-user-select: none;
}

#container {
    display: none;
}

a {
    color: #00B7FF;
    display: block;
    text-decoration: none;
    width: 100%;
}

ol.product-list {
    list-style: none;
}

li.product-container {
    /* flex: 1 0 0; */
    /* padding: 16px; */
    /* border-radius: 6px; */
    /* box-shadow: 0px 0px 2px 0px #dbdbdb; */
    /* width: 300px; */
    /* border-bottom: solid 1px rgba(128, 128, 128, 0.4); */
    /* margin: 5px; */
    /* padding-bottom: 10px; */
    /* border:  solid 1px #ececec; */
    margin-bottom: 4px;
    min-height: 73px;
    background-color: white;
}

.project-name {
    /* background-color: rgba(240, 240, 240, 0.4); */
    color: #39a3e2;
    font-size: 16px;
    /* margin-left: 10px; */
    padding: 9px 16px;
}

ol.product-list {
    list-style: none;
    padding: 0;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* background-color: rgb(255, 255, 255); */
    /* justify-content: space-around; */
    margin: 0px 18px;
    margin: 0;
}

img.product-logo {
    width: 50px;
    height: 50px;
    margin: 12px 16px;
    border-radius: 16px;
    /* max-width: 50%; */
    /* max-height: 150px; */
    display: inline-block;
    box-shadow: 0px 0px 4px 0px #c2c2c2;
    position: absolute;
}

span.product-name {
    display: block;
}

.product-name {
    color: black;
    font-size: 16px;
    margin-top: 11px;
}

.product-spn {
    color: #4a4a4a;
    font-size: 12px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.product-info-container {
    margin-left: 86px;
    display: inline-block;
    /* vertical-align: top; */
    /* margin-bottom: 12px; */
    /* float: left; */
    width: calc(100% - 220px);
    overflow-x: auto;
    white-space: nowrap;
}

.product-start-button {
    background-color: #39a3e2;
    color: white;
    padding: 13px;
    margin-top: -55px;
    width: 87px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    right: 16px;
}

.start-tip {
    color: #39a3e2;
    font-size: 16px;
    text-align: center;
    margin: 22px;
    display: none;
}

img.growing-logo {
    /* max-height: 100px; */
    /* border-bottom: solid 1px #eaeaea; */
    width: 106px;
    /* display: none; */
    margin: 7px;
    margin-top: 12px;
}

button.logout-button {
    /* background-color: hsla(175, 61%, 42%, 0.84); */
    color: #4a4a4a;
    padding: 8px;
    /* margin: 9px; */
    float: right;
    border: none;
    width: 68px;
    text-align: center;
    /* box-shadow: 0px 0px 14px 1px rgba(115, 160, 156, 0.77); */
    position: absolute;
    left: 0px;
    top: 4px;
    background: none;
    font-size: 15px;
    float: left;
}


div#splash {
    text-align: center;
    font-size: 21px;
    position: fixed;
    top: 50%;
    width: 100%;
}

.logo-container {
    text-align: center;
    background: white;
}